/* --------------------------------------------------------------------- */
/* DESIGNS */

.dashed-top {
    border-top: 0.25em dashed #ffd45a;
}
.dashed-bottom {
    border-bottom: 0.25em dashed #ffd45a;
}
.dashed {
    border-top: 0.25em dashed #ffd45a;
    border-bottom: 0.25em dashed #ffd45a;
}

.btn {
    border: none;
    color: white;
    background-color: #6fcafc;
    padding: 12px;
    margin: 30px 20px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    letter-spacing: 2px;
    transition: 0.2s;
    text-decoration: none;
    width: 160px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover {
    background-color: #ffd45a;
    color: black;
}

.yellow {
    color: #ffd45a;
}

.light-blue {
    color: #6fcafc;
}

.dark-blue {
    color: #454f99;
}

.question {
    margin-bottom: 30px;
}

.question h3 {
    color: #454f99;
}


/* --------------------------------------------------------------------- */
/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body {
    color: #767676;
}

header {
    display: flex;
    position: fixed;
    z-index: 1000;
    padding: 15px 100px;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.8s;
}

header.sticky {
    padding: 5px 100px;
    background: rgba(255,255,255,1);
}
header.sticky .logo .logo-pic img {
    height: 80px;
    margin-left: 10px;
}

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header .logo .logo-pic img {
    height: 100px;
    padding-right: 10px;
    transition: 0.8s;
}

header .logo .logo-text {
    font-size: 1.5em;
    width: auto;
    color: #6fcafc;
    transition: 0.8s;
}

header nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul .nav-item {
    text-decoration: none;
    margin: 0 30px;
    position: relative;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: .95em;
    text-transform: uppercase;
    color: #767676;
}

.content {
    margin-top: 100px;
    padding: 100px 0;
    justify-content: center;
}

section {
    padding: 0 22%;
    width: auto;
}
section::before { 
    display: block; 
    content: " "; 
    margin-top: -100px; 
    height: 100px; 
    visibility: hidden; 
    pointer-events: none;
}

.disclaimer {
    margin-bottom: 40px;
    color: black;
}

h2, h3 {
    line-height: 2em;
    letter-spacing: 1.75px;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: #6fcafc;
    text-align: center;
}

h3 {
    font-size: 18px;
}

p, ul li {
    line-height: 1.6em;
}

ul {
    list-style-position: inside;
}

ul li .indented {
    margin-left: 2em;
}

a {
    color: #767676;
}
a:active {
    color: black;
}

.answer {
    margin-top: 20px;
}

footer {
    background-color: rgb(241, 241, 241);
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------------------------------------------------------- */
/* HOME */

.banner img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-size: cover;
    padding: 0 15% 60px;
    margin-top: 150px;
    overflow: hidden;
}

.our-purpose {
    position: relative;
    background-color: rgb(241, 241, 241);
    padding: 60px;
    margin: 40px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.our-purpose article {
    margin: 0 15%;
    font-size: 1.4em;
}

.our-purpose article h2 {
    color: #6fcafc;
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: 900;
}

.our-purpose article p {
    color: #767676;
}

.home-content h3 {
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 24px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    margin: 40px 0 0;
    padding: 50px 7% 40px;
}

.actions .actions-items {
    display: block;
    width: 480px;
    min-width: 380px;
    padding: 20px 40px;
    height: calc(max-content+5px);
    margin: 10px 20px;
    z-index: 10;
    border-radius: 5px;
    text-align: center;
    position: relative;
    /* box-shadow: 0 0 1.5rem rgba(0,0,0,0.4); */
}

.actions .actions-items img {
    width: 100%;
    margin: 20px 0;
    border: 5px solid white;
}

.actions .actions-items h3 {
    margin-bottom: 5px;
}

.actions .actions-items .btn {
    position: relative;
    bottom: 0;
}

.actions #learn {
    margin-top: 60px;
    background: #ffd45a;
    color: black;
    border-bottom: 10px solid #6fcafc;
}
.actions #learn .btn {
    background-color: black;
    color: #ffd45a;
}
.actions #learn .btn:hover {
    background-color: transparent;
    color: black;
}

.actions #create {
    margin-top: 60px;
    /* margin-top: 240px; */
    background: #6fcafc;
    border-bottom: 10px solid #454f99;
    color: white;
}
.actions #create .btn {
    background-color: white;
    color: #6fcafc;
}
.actions #create .btn:hover {
    background-color: transparent;
    color: white;
}

.actions #donate {
    margin-top: 60px;
    /* margin-top: 420px; */
    background: #454f99;
    border-bottom: 10px solid #ffd45a;
    color: #6fcafc;
}
.actions #donate .btn {
    background-color: #6fcafc;
    color: #454f99;
}
.actions #donate .btn:hover {
    background-color: transparent;
    color: #6fcafc;
}

.actions #donate img {
    border: none;
}

.actions .bg-img {
    position: absolute;
    width: 38%;
    z-index: -1;
    height: 250px;
    object-fit: cover;
    display: none;
}

.right {
    right: 0;
    -webkit-mask-image: linear-gradient(to right, transparent 5%, white 80%, #6fcafc 15%);
    mask-image: linear-gradient(to right, transparent 5%, white 80%, #6fcafc 15%);
    background: #6fcafc;
}

.left {
    left: 0;
    margin-top: 710px;
    -webkit-mask-image: linear-gradient(to left, transparent 5%, white 95%);
    mask-image: linear-gradient(to left, transparent 5%, white 95%);
    background: #6fcafc;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 7% 30px;
}

.contacts .contacts-card {
    display: block;
    width: 60%;
    height: 400px;
    padding: 40px;
    margin: 0 20px 40px;
    background-color: rgb(241, 241, 241);
    text-align: center;
    border-radius: 5px;
}

.contacts .contacts-card h3 {
    font-size: 1.2em;
}


/* --------------------------------------------------------------------- */
/* ABOUT US */

.about-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.question p, .question li, .question h3 {
    font-size: 1.1em;
}

.about-menu .question h2, .workshops-content h2 {
    border-bottom: 4px dashed #ffd45a;
    margin-bottom: 20px;
}

.about-menu section, .workshops-content section {
    margin-bottom: 50px;
}


/* --------------------------------------------------------------------- */
/* CLASSES */

.workshops-content section {
    margin-bottom: 40px;
}

.workshops-content h3 {
    color: #454f99;
}

.workshops-content .btn {
    margin-top: 20px;
}

#survey, #resources {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#survey h3 {
    font-size: 22px;
}

#materials ul {
    font-weight: bold;
}
#materials ul li .indented {
    font-weight: 400;
}

#where-materials h3 {
    font-size: 1.2em;
}

#where-materials ul {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}

#where-materials ul li {
    margin-bottom: 10px;
}

#where-materials ul:nth-child(1) {
    margin-right: 10px;
    text-align: right;
    width: 40%;
}
#where-materials ul:nth-child(2) {
    margin: 3px 10px 0 0;
    text-align: left;
}

#where-materials ul:nth-child(2) li {
    margin-bottom: .85em;
}

#where-materials p {
    text-align: center;
    margin-top: 15px;
}

#resources .btn {
    width: 250px;
}


/* --------------------------------------------------------------------- */
/* RESPONSIVE */

/* for ipads + tablets (1530)*/
@media screen and (max-width: 1530) {
    header .logo .logo-text {
        display: none;
    }

    .banner {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .actions {
        flex-direction: column;
    }

    .actions .actions-items {
        top: 0;
        margin-right: 20px;
        margin-left: 20px;
        width: 90%;
    }

    .contacts {
        flex-direction: column;
    }
}

/* for phones 
@media screen and (max-width: 920px) {
    nav {
        display: none;
    }

    header .logo .logo-pic img {
        height: 100px;
        padding-right: none;
        transition: 0.8s;
    }
} */