/* --------------------------------------------------------------------- */
/* RESPONSIVE */
/* entire nav condenses + side padding shrinks */
@media screen and (max-width: 1605px) {
  header {
    padding: 5px 60px;
  }
  header.sticky {
    padding-right: 50px;
    padding-left: 50px;
  }
  header .logo .logo-pic img {
    height: 80px;
  }
  nav ul .nav-item {
    font-size: .9em;
  }
}

/* for ipads + tablets (1530px)*/
@media screen and (max-width: 1560px) {
  .banner {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 1485px) {
  .logo-text-wrap {
    display: block;
  }
}

/* (victoria = 1366 / annie = 1504) */
/* materials list condensed */
@media screen and (max-width: 1320px) {
  .logo .logo-pic img {
    height: 100px;
  }
}

/* nav list disappears and replaced by menu icon */
@media screen and (max-width: 1300px) {
  ::-webkit-scrollbar {
    display: none;
  }
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 0 30px;
    background-color: white;
    display: block;
  }
  header.sticky {
    padding: 0 20px;
  }
  header .logo .logo-pic img {
    margin-top: 10px;
    display: inline-block;
    height: 60px;
  }
  header .logo .logo-text {
    display: block;
    margin-top: 10px;
    font-size: 2em;
  }
  header .logo-text-wrap {
    display: inline;
  }
  header .btn {
    margin: 10px 25px 0;
  }
  #menu-icon + label {
    display: block;
    position: absolute;
    font-size: 24px;
    top: 40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 60px;
    float: right;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  nav {
    display: block;
    text-align: right;
    float: right;
    height: 0;
    background-color: white;
    width: 100%;
    overflow: scroll;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  nav ul {
    display: block;
    margin: 10px 0;
  }
  nav ul li {
    text-align: center;
    padding: 8px 0;
  }
  nav ul .head {
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 20px 0 auto;
    padding-bottom: 0;
  }
  nav ul .donate-dropdown {
    margin-top: 0;
    padding-bottom: 0;
  }
  nav ul .donate-dropdown .dropdown-content {
    margin-top: 0;
  }
  nav .not-mobile {
    display: none;
  }
  input[type=checkbox]:checked ~ label {
    color: black !important;
  }
  #menu-icon:checked ~ nav {
    height: 330px;
    -webkit-box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 10px 16px -16px rgba(0, 0, 0, 0.2);
  }
  .dropdown input[type=checkbox]:checked ~ li .drop {
    color: black;
  }
  .dropdown input[type=checkbox]:checked ~ li .drop::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f0d8";
  }
  .dropdown-content {
    position: relative;
    display: block;
    z-index: 10000;
    right:0;
    background-color: white;
    height: 0;
    overflow: hidden;
    width: 200px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 0 0 auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .dropdown-content .sub {
    margin: 0 20px;
    padding: 0 0;
    text-align: right;
  }
  #aboutus-dropdown:checked ~ .dropdown-content {
    height: 125px;
  }
  #classes-dropdown:checked ~ .dropdown-content {
    height: 125px;
  }
  #volunteer-dropdown:checked ~ .dropdown-content {
    height: 235px;
  }
  #donate-dropdown:checked ~ .dropdown-content {
    height: 175px;
  }
  /*#donatebtn-dropdown:checked ~ .dropdown-content {
        height: 165px;
    }*/
  .side {
    display: block;
    position: relative;
    height: 70px;
    top: -3px;
  }
  .side i {
    display: inline-block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .side .mobile {
    white-space: nowrap;
    text-align: right;
  }
  .side-content,
  .side-content .sub {
    display: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mobile-container {
    display: block;
    margin-right: 10px;
    position: relative;
    top: -30px;
    right: 20px;

  }
  h2 {
    line-height: 1.2em;
  }
  .mempos-content .member-cards {
    margin-right: 10%;
    margin-left: 10%;
  }
  .our-purpose .title {
    margin-bottom: 15px;
  }
}

/* action/contact cards stack instead of row */
@media screen and (max-width: 1100px) {
  .member-card {
    margin-bottom: 50px;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-left: 0;
  }
  .contacts .contacts-card {
    min-height: 0;
    padding-bottom: 60px;
  }
  .members {
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}
  .members-row {
    margin-bottom: 20px;
    display: flex;
}
}

/* materials images turn into column (instead of float) */
@media screen and (max-width: 900px) {
  #materials img, #materials #img-yarn-needle {
    margin-top: 20px;
    float: none;
    left: 45%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .card-header {
    font-size:23px;
}
 .card-deck .card {
   max-height:350px;
  }
  .card-deck .card .card-body {
    height:70%;
  }

@media screen and (max-width: 767px) {
  footer {
    padding: 3rem 1.5rem;
  }
  footer ul {
    padding-left: 0;
  }
}

/* header logo and text wrap around */
@media screen and (min-width: 635px) {
  .team-content div img {
    float: left;
    margin-right: 30px;
  }
  footer .cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 575px) and (min-width: 400px) {
  .card-deck img {
    bottom: 25px;
    height: 200px;
  }
}

@media screen and (max-width: 575px) {
  .not-mobile {
    display: none;
  }
  .mobile {
    display: block;
  }
  
    /* team descriptions */
    .card-team {
      display:flex;
      flex-direction:column;
      /* justify-content: center; */
      align-items: center;
    }

    .team-center {
      width: 80%;
      /* position: relative; */
    }

    .speech-bubble {
    margin: 0 auto;
    }

}

/* for phones */
@media screen and (max-width: 430px) {
  header {
    padding-left: 20px;
  }
  header .logo .logo-pic img {
    height: 60px;
  }
  header .logo .logo-text {
    display: none;
  }
  header.sticky .logo .logo-pic img {
    height: 50px;
  }
  header nav {
    padding-right: 0;
  }
  #menu-icon + label {
    right: 35px;
    top: 35px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .content {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .title {
    font-size: 40px;
  }
  .home-content section::before {
    height: 50px;
  }
  .home-content .banner #slideshow {
    margin: 110px 0 0;
  }
  .home-content .banner img {
    padding: 0 0 30px;
    width: 100%;
  }
  .home-content .our-purpose {
    padding: 30px 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 100%;
  }
  .contacts {
    margin-top: 50px;
  }
  .contacts h3 {
    line-height: 1.25em;
    margin: 10px 0;
  }
  .contacts #contact-us p {
    margin-top: 20px;
  }
  .contacts #email-form {
    padding: 15px 10px;
  }
  .arrows {
    margin: 40px 0;
  }
  .about-menu .question {
    margin-bottom: 10px;
  }
  .about-menu .question h2 {
    font-size: 1.85em;
  }
  .workshops-content section {
    margin-bottom: 0;
  }
  #materials img {
    display: block;
    float: none;
  }
  #where-materials h3, #where-materials .side-block {
    display: block;
    width: 100%;
    text-align: left;
  }
  #where-materials .side-block {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .faq-content {
    margin-bottom: 50px;
  }
  .faq-content h2 {
    line-height: 1.4em;
  }
}

/* logo text disappears */
/*# sourceMappingURL=media.css.map */
