/* --------------------------------------------------------------------- */

/* NOTES (close when not in use --> click arrow next to line)

    CREATE A GITHUB ACCOUNT SO THAT I CAN ADD YOU TO BE A CONTRIBUTOR ON THE REPOSITORY
        - as contributor, you can edit the repo directly (rather than using pull requests which i wont have the time to always review and merge)

    DO -NOT- PUT STYLES INTO THE CSS FILE. USE SCSS FILE.
        - make sure to install extension (i use Live Sass Compiler in vscode) that allows you to automatically match sass/scss to css
        - also, NEVER EVER USE INLINE STYLES (styling in the html) <-- BAD PRACTICE
            - ex. style="margin-bottom: 30px;"

    WHEN CREATING A NEW PAGE, USE template.html
        - make sure to change:
            - page title (appears in browser tab); default = "NAME | Crafts for Charity"
            - header name
            - content class specific to that page
                - ex. class = "doncraf-content content"
            - remove "disclaimer" SECTION when all content is added
            - add to navbar
            - arrow links
                - redirect to adjacent pages in DROPDOWN (if last page, loop to first)
                - if not in dropdown, no arrow links
                - MAKE SURE TO CHANGE THE ARROWS OF THE ADJACENT PAGES TO INCLUDE THE NEW PAGE
            - height of mobile dropdown (if in dropdown)
                - found in: 
                    @media screen and (max-width: 1300px) {
                        ...
                        #aboutus-dropdown:checked ~ .dropdown-content {
                            height: 85px; //(# of items * 40) + 5
                        }
                        #classes-dropdown:checked ~ .dropdown-content {
                            height: 125px;
                        }
                        #donate-dropdown:checked ~ .dropdown-content {
                            height: 185px;
                        }
                        #volunteer-dropdown:checked ~ .dropdown-content {
                            height: 305px;
                        }
                        ...
                    }
            - if adding side hover box (ex. member positions side hover box):
                - use .side classes + create new .mobile-container
                        <ul class="dropdown-content">
                            <div class="side">
                                <li><a href="/FOLDER/OVERVIEW-FILE.html" class="sub nav-item">HEAD_NAME</a></li>
                                <ul class="side-content">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub nav-item" id="(id is not necessary)">FILE1_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub nav-item">FILE2_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub nav-item">FILE3_NAME</a></li>
                                </ul>
                                <div class="mobile-container">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub mobile nav-item">FILE1_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub mobile nav-item">FILE2_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub mobile nav-item">FILE3_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                </div>
                            </div>
                        </ul>
                - .side container will show up in desktop; .mobile-container will show up on mobile (when hamburger icon = visible)

    PUT IMAGES INTO FOLDER /CFC Banners/... 
        - DO NOT change the folder name to "images" since you will have to reroute every reference to the folder
        - put a starting / whenever creating a path to a file
            - ex. in header:
                - if linking to new pages --> /FOLDER/FILE.html
            - this starts the reference from the root folder, which is always constant
                - using ../ or ./ or no slash will NOT be constant

    IF YOU WANT/HAVE TIME, PUT ALL MEDIA QUERIES INTO NEW FILE media.scss (PUT INTO /STYLES/ FOLDER) + LINK TO ALL PAGES
        - all media queries found at bottom of this file (style.scss)
        - adds more organization
        - very tedious, only do if you want lol

    LABEL EACH GROUP OF STYLES
        - ex.   / --------------------------------------------------------------------- /
                / UNIVERSAL /

    .html FILES IN ROOT FOLDER ARE -INSERTABLES-
        - as of rn, includes header, footer, slideshow, contact-form (email form), privacy policy
        - to add a new insertable:
            1. create new html file with empty <head> in root folder
                - treat it as if you are inserting a single element rather than an entire html file
                - ex. check contact-form.html, header.html, footer.html
            2. go to <head> of all main pages:
                    $(function(){
                        $("#header").load("/insertables/header.html"); 
                        $("#footer").load("/insertables/footer.html"); 
                        $("#email-form").load("/insertables/contact-form.html"); 
                    });
                add:
                    $("#ID-NAME").load("/FILE-NAME.html"); 
                which enables you to insert the element wherever you write:
                    <div id="ID-NAME"></div>

    TRY TO STICK TO THE COLOR PALETTE FOUND IN THE VARIABLES
        - if necessary, you can use different shades of GREY ( winks )

    ALSO TRY TO MAKE -REUSABLE- STYLES
        - as in, don't make specific styles that only apply to one thing
            - ex. .title applies to all titles
            - ex (of BAD code). making each style page specific (call out to myself)
                - if you want/have time, refactor the code so that styles are REUSABLE + not specific to a page
        - makes the website look more consistent
        - DONT REPEAT STYLES
            - use the variables whenever you can (do not repeat hex codes)
            - you can create mixams for frequently used groups of styles + variables for frequently used values
            - get a good grasp of already existing design classes before creating a new one that is potentially repetitive

    FINALLY, ASK ME ANYTHING IF YOU NEED ANY HELP :) ig: @myco.le discord: kou#0726

*/

// Maven Pro
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
// Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


// VARIABLES

$yellow : #FFE05C;
$orange : #FCC73F;
$dark-blue : #454F99;
$light-blue: #6DBFEB;
$light-grey: #f1f1f1;
$grey: #D8DEE3;
$dark-grey: #454649;


@mixin center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}




/* --------------------------------------------------------------------- */
/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    //font-family: 'Maven Pro', sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    color: $dark-grey; //black

    a {
        color: $dark-grey;
    }
}

.home #home-nav, 
.about-us #about-nav, 
.classes #classes-nav, 
.donate #donate-nav, 
.volunteer #volunteer-nav, 
.contact-us #contact-nav, 
.faq #faq-nav {
    color: black;
}



// DESIGNS (COLORS)

.drop::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f0d7"; //caret-down
}

.dashed-top {
    border-top: 4px dashed $yellow;
}
.dashed-bottom {
    border-bottom: 4px dashed $yellow;
}
.dashed {
    border-top: 0.25em dashed $yellow;
    border-bottom: 0.25em dashed $yellow;
}

.yellow {
    color: $yellow;
}
.yellow-bg {
    background-color: $yellow;
}
.light-blue {
    color: $light-blue;
}
.light-blue-bg {
    background-color: $light-blue;
}
.dark-blue {
    color: $dark-blue;
}
.dark-blue-bg {
    background-color: $dark-blue;
}
.grey {
    color: $light-grey;
}
.grey-bg {
    background-color: $light-grey;
}
.dark-grey {
    color: $dark-grey;
}
.dark-grey-bg {
    background-color: $dark-grey;
}
.white {
    color: white;
}

b {
    font-weight: bold;
    color: $dark-blue;
}


// DESIGNS (FORMATS)

.title {
    color: $light-blue;
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: 900;
    margin-bottom: 20px;
    border-bottom: 4px dashed $yellow;
}
.title-nodash {
    color: $light-blue;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.btn {
    border: none;
    outline: none;
    color: white;
    background-color: $light-blue;
    padding: 12px 15px;
    margin: 20px auto;
    border-radius: 100px;
    font-size: 1.1em;
    letter-spacing: 2px;
    transition: 0.3s;
    text-decoration: none;
    // width: 250px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        color: black;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 5px rgba($color: $light-blue, $alpha: 0.4);
    }

    &.large { //put onto "Apply Here!" buttons
        font-size: 1.5em;
        width: 250px;
        padding: 15px;
        margin-bottom: 20px;
    }

    &.learn-more {
        color: white;
        background-color: $yellow;
        width: 175px;

        &:hover {
            background-color: $dark-blue;
        }
    }
}
.yellow-btn {
    color: black;
    background-color: $yellow;

    &:hover {
        background-color: $light-blue;
        color: white;
    }
}
.black-btn {
    color: $yellow;
    background-color: black;

    &:hover {
        background-color: $yellow;
        color: black;
    }
}
.white-btn {
    background-color: white;
    color: $light-blue;
    // border: 1px solid transparent;

    &:hover {
        background-color: transparent;
        color: white;
        // border: 1px solid white;
    }
}
.lightblue-btn {
    background-color: $light-blue;
    color: $dark-blue;
    // border: 1px solid transparent;

    &:hover {
        background-color: transparent;
        color: $light-blue;
        // border: 1px solid $light-blue;
    }
}
.darkblue-btn {
    background-color: $dark-blue;
    color: white;
    // border: 1px solid transparent;

    &:hover {
        background-color: transparent;
        color: $dark-blue;
        // border: 1px solid $dark-blue;
    }
}

.arrow  {
    background-color: $light-grey;
    color: $dark-grey;
    width: max-content;
    padding-right: 25px;
    padding-left: 25px;
    text-transform: capitalize;
}
.left::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060  "; //arrow-left
}
.right::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f061"; //arrow-right
}


.question {
    margin-bottom: 30px;
    font-size: 1.1em;

    p, ul:not(.indented) {
        margin-bottom: 25px;
    }

    h3 {
        color: $dark-blue;
    }
}

.answer {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.paragraph {
    margin-bottom: 15px;
}

.text-description-bigger {
    font-size: 18px;
}

.title-borderbottom { //h2
    border-bottom: 4px dashed $yellow;
    // margin-bottom: 20px;
    line-height: 1.5em;
    width: fit-content;
    margin: 0 auto 20px;
}



// SCROLLBAR STYLES

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: $light-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(165, 165, 165);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}




// HEADER STYLES

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    padding: 5px 100px;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: 0.8s;
    outline: none;

    &.sticky {
        padding: 0 100px;
        background: rgba(255,255,255,1);

        .logo .logo-pic img {
            height: 60px;
        }
    }

    .btn {
        width: auto;
        font-size: .9em;
        margin: 0 10px 0;
        padding: 10px 12px;

        a {
            text-decoration: none;
            color: white;
        }
        &:hover a {
            color: black;
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.logo {
    display: flex;
    width: max-content;
    align-items: center;
    text-decoration: none;

    .logo-pic img {
        position: relative;
        height: 70px;
        padding-right: 10px;
        transition: 0.8s;
    }

    .logo-text {
        font-size: 2.5em;
        font-weight: bold;
        // width: auto;
        color: $light-blue;
        transition: 0.8s;
        line-height: initial;
        margin-bottom: 0;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.8s;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        li {
            list-style: none;
            padding-left: 0;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: .95em;
            color: $dark-grey;
            white-space: nowrap;
        }

        .head {
            margin: 20px 20px 0;
            // margin: 0 10px 0 60px;
            padding-bottom: 20px;
            display: block;

            &.donate-lbl {
                white-space: nowrap;
                margin: 0;
                padding: 0;
            }
        }

        .donate-dropdown {
            margin-top: 20px;
            padding-bottom: 20px;

            .dropdown-content {
                margin-top: 10px;
            }
        }
    }
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 10000;
    background-color: white;
    width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0;
    margin-left: 10px;
    padding-left: 0;
    border-radius: 5px;
}

.side {
    display: flex;
}

.side-content {
    position: absolute;
    display: none;
    z-index: -1;
    background-color: white;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0;
    margin-left: 205px;
    padding-left: 0;
    border-radius: 5px;

    i {
        display: none;
    }
}

.dropdown-content .sub, .side-content .sub {
    margin: 10px 20px;
    padding: 5px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
    text-transform: lowercase;
    white-space: initial;
}

.dropdown:hover .dropdown-content,
.side:hover .side-content {
    display: block;
}

#menu-icon, #menu-icon ~ label, input[type=checkbox] {
    display: none;
}

.mobile-container { //for indiv member positions when hamburger icon (mobile)
    display: none;
}






#member-overview {
    margin-bottom: 0;
}

.content {
    margin: 40px auto;
    padding: 80px 1.5rem 0;
    max-width: 1140px;
    justify-content: center;
    min-height: calc(100vh - 517px); //guess + check lol
}

section {
    width: 100%;
    // padding: 25px 0;
    margin: 40px auto;

    &::before { //when clicking on in-page links (#), allows space for header
        display: block; 
        content: " "; 
        margin-top: -100px; 
        height: 100px; 
        visibility: hidden; 
        pointer-events: none;
    }
}

.disclaimer { //used for "page isnt done" disclaimer
    margin-bottom: 40px;
    color: black;
}

h2, h3 {
    font-weight: bold;
    line-height: 1.7em;
    letter-spacing: 1.75px;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: $light-blue;
    text-align: center;
}
h3 {
    font-size: 1.2em;
}

p {
    font-size: 17px;
}

p, ul li, a, nav .dropdown label:not(.donate-lbl) {
    line-height: 1.6em;
}
label {
    white-space: nowrap;
}

ul {
    list-style-position: outside;
    margin-left: 2em;

    li {
        line-height: 1.9em;
        padding-left: .4em;

        .indented {
            margin-left: 2em;
        }        
    }
}

a:active, a:hover {
    color: black;
}

button.collapsible h2 {
    transition: 0.3s;
    font-size: 30px;

    &:hover, .active {
        color: $dark-blue;
    }
}

.collapsible {
    background-color: $light-grey;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 60px;
    font-weight: bold;
    color: $light-blue;
    border-radius: 5px;
    position: relative;

    &:nth-child(odd) {
        border: none;
        outline: none;
    }
}

.coll-content {
    padding: 0px 18px 8px;
    margin: 8px 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    p, ul li {
        line-height: 1.8em;
        margin-left: 0.5rem;
    }
}

input[type=text], textarea {
    background-color: $light-grey;
    width: 100%;
    outline: none;
    border: 1px solid $light-grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    transition: 0.2s;

    &::placeholder {
        font-size: 14px;
    }

    &:hover, &:focus {
        border: 1px solid #a0a0a0;
        background-color: white;
    }
}

button[type=submit] {
    background-color: $light-blue;
    color: white;
    border: 0;
    outline: 0;
    margin-top: 15px;
    margin-left: auto;
    padding: 7px;
    width: 100px;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        color: black;
    }
}

iframe {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    tr, td {
        padding: 10px;
        border: 1px solid rgba($color: $dark-grey, $alpha: 0.75);
    }

    :not(thead) {
        tr {
            td:not(:nth-child(1)) {
                text-align: center;
            }
    
            &:nth-child(odd) {
                background-color: $light-grey;
            }
        }
    }
}

.arrows {
    margin-top: 50px;
}

footer {
    background-color: $light-grey;
    height: max-content;
    position: relative;
    padding: 3rem 5rem 2rem;

    h3 {
        color: $dark-blue;
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;

        &:not(.icon):hover {
            text-decoration: none;
            border-bottom: 1px solid black;
        }
    }

    ul {
        list-style: none;
        margin-left: 0; //nullifies 2em

        li {
            padding: 2px;
            transition: 0.3s;
        }
    }

    .credits {
        padding-top: 2rem;
        width: 100%;
        text-align: center;
    }

    .policy {
        font-size: 0.8em;
    }
}




/* --------------------------------------------------------------------- */
/* PRIVACY POLICY POPUP */

/* The Modal (background) */
.modal {
    /* display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 50px;
    width: 70%;
    border-radius: 5px;
    height: 80vh;
    overflow-y: scroll;
    position: relative;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
    float: right;
    /* position: fixed;
    right: 20%; */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/* --------------------------------------------------------------------- */
/* HOME */

.banner {
    max-height: 670px;

    #slideshow {
        padding-bottom: 15px;
        margin: 180px auto 0;

        img {
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    img {
        box-sizing: border-box;
        background-size: cover;
        padding: 0 17% 60px;
        overflow: hidden;
    }
}

.our-purpose {
    position: relative;
    background-color: $light-grey;
    padding: 60px;
    margin: 40px 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    .title {
        margin-bottom: 0;
        border: none;
    }

    article {
        margin: 0 15%;
        font-size: 1.4em;

        p {
            font-size: 20px;
        }
    }
}

.home-content h3, .mempos-content h3 {
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 32px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    margin: 40px 0 0;
    padding: 30px 7% 40px;

    .actions-items {
        display: block;
        width: 480px;
        min-width: 380px;
        padding: 20px 40px;
        height: calc(max-content + 5px);
        margin: 10px 20px;
        z-index: 10;
        border-radius: 5px;
        text-align: center;
        position: relative;
        /* box-shadow: 0 0 1.5rem rgba(0,0,0,0.4); */

        img {
            width: 100%;
            height: 50%;
            object-fit: cover;
            margin: 20px 0;
            border: 5px solid white;
        }

        .btn {
            position: relative;
            bottom: 0;
        }
    }
}

.actions .actions-items h3, .member-cards .member-card h3 {
    margin-bottom: 5px;
}

.actions #learn {
    margin-top: 60px;
    background: $yellow;
    color: black;
    border-bottom: 10px solid $light-blue;
}

.actions #create {
    margin-top: 60px;
    background: $light-blue;
    border-bottom: 10px solid $dark-blue;
    color: white;
}

.actions #donate {
    margin-top: 60px;
    background: $dark-blue;
    border-bottom: 10px solid $yellow;
    color: $light-blue;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 7% 30px;

    .contacts-card {
        display: block;
        width: 60%;
        min-width: 380px;
        min-height: 570px;
        padding: 30px 40px 35px;
        margin: 0 20px 40px;
        background-color: $light-grey;
        text-align: center;
        border-radius: 5px;
    
        h3 {
            font-size: 2.5em;
        }
    
        .usernames {
            font-size: 1.3em;
        }
    }
}

.icons {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 2.5em;

    span {
        white-space: nowrap;
    }

    i {
        transition: 0.3s;
        margin: 10px;

        &:hover {
            color: black;
        }
    }
}


/* --------------------------------------------------------------------- */
/* ABOUT US */

.about-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-menu .question, .materials-content .question {
    margin-bottom: 20px;

    .btn {
        width: 250px;
        margin-top: 15px;
    }
}



/* OUR TEAM */

.team-content {
    img {
        margin-bottom: 25px;
        width: 100%;
        border-radius: 10px;
    }

    .members {
        h2 {
            line-height: 1em;
        } 
    }

    h3 {
        color: $dark-blue;
    }
}


/* --------------------------------------------------------------------- */
/* CLASSES */

.workshops-content section, .mempos-contents section, .donmat-content section {
    margin-bottom: 50px;
}

.about-menu h3, .workshops-content h3 {
    color: $dark-blue;
    font-size: 1.25em;
}

.workshops-content .btn {
    margin-top: 20px;
}

#survey, #resources {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#virtual-classes .btn {
    width: 300px;
    font-size: 1.3em;
}

#survey h3 {
    font-size: 22px;
}

.btn.resources {
    width: 275px;
}


/* --------------------------------------------------------------------- */
/* MATERIALS */

.materials-content {
    overflow: hidden;

    .title {
        margin-bottom: 20px;
    }

    p, a {
        margin-top: 15px;
    }

    .question {
        margin-bottom: 20px;

        h2 {
            border: none;
            margin: 0;
        }

        .coll-content {
            margin-top: 15px;
        }
    }

    ul {
        list-style-position: outside;
        margin-left: 2em;
    }

    img {
        float: right;
        position: relative;
        margin-left: 20px;
        object-fit: cover;
        width: 200px;

        &#img-yarn {
            margin-top: 10px;
        }
        &#img-knit-needle {
            margin-right: 20px;
        }
        &#img-yarn-needle {
            margin-top: 30px;
            height: 80px;
        }
    }

    .material-item {
        font-weight: bold;
    }
}




/* --------------------------------------------------------------------- */
/* WHO WE SUPPORT */

.donate-where {
    section {
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 40px;
    }

    img {
        max-width: 670px;
        width: 100%;
        margin: 15px auto;
        display: block;
    }    
}


/* --------------------------------------------------------------------- */
/* MEMBER POSITION OVERVIEW */

.positions {
    h3 {
        color: $dark-blue;
        width: fit-content;
        padding: 0 10px;
        border-radius: 10px;
    }

    .card-deck {
        margin: 10px 0 30px;
    
        .card {
            border: 0;
            border-radius: 15px;
            align-items: center;
    
            button {
                margin-bottom: 30px;
            }
    
            img {
                position: absolute;
                left: 0;
                margin-top: 80px;
                width: 100%;
                padding: 10px 30px;
                transition: 0.3s;
                z-index: 10;
            }
    
            .card-header {
                position: relative;
                background-color: transparent;
                border: 0;
                padding-top: 30px;
                padding-bottom: 0;
            }
    
            .card-body {
                display: flex;
                align-items: center;
            }
    
            .card-text {
                opacity: 0;
                transition: 0.3s;
            }
    
            .card-footer {
                position: relative;
                opacity: 0;
                visibility: hidden;
                padding-top: 0;
                background-color: transparent;
                border: 0;
                transition: 0.3s;
            }
    
            &:hover {
                img {
                    opacity: 0;
                    visibility: hidden;
                }
                .card-text, .card-footer {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    z-index: 100;
                }
            }
        }
    }
}



/* --------------------------------------------------------------------- */
/* MEMBER POSITIONS (INDIV PAGES) */

.mempos-contents img {
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
}


/* --------------------------------------------------------------------- */
/* SERVICE HOURS */

.srvhrs-content img {
    max-width: 670px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------------------------------- */
/* CONTACT US */

.contact-page {
    .logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 130px;
    }

    #email-form {
        padding: 0; //nullifies default padding settings on #email-form

        .col-sm-6 {
            padding-right: 0;

            label {
                width: 100%;
                margin: 0;
            }
            input[type=text], textarea {
                margin: 5px 0;
            }
            textarea {
                width: 100%;
                height: 100%;
            }

            button[type=submit] {
                margin-left: auto;
            }
        }
    }
}


/* --------------------------------------------------------------------- */
/* FAQ */

.faq-content {
    a {
        word-wrap: break-word;
        min-height: max-content;
    }

    .question {
        margin-bottom: 0;
    }

    .collapsible {
        height: max-content;
        padding: 25px 0 0;
        background-color: transparent;
        border-top: 1px solid $light-grey;

        h2 {
            text-transform: initial;
            font-size: 1em;
            margin-left: 25px;
            margin-right: 50px;
            text-align: left;

            &::before {
                content: '+';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                padding-top: 30px;
                font-size: 1.2em;
            }

            &.active::before {
                content: '-';
                top: 50%;
                transform: translateY(-50%);
                padding-top: 30px;
            }
        }

        .bigger {
            font-size: 1.5em;
        }

        .coll-content {
            margin-bottom: 20px;
            margin-left: 5px;
        }

        &.first {
            border-top: none;
        }
    }
} 




.mobile {
    display: none;
    white-space: nowrap;
}