/* --------------------------------------------------------------------- */

/* NOTES (close when not in use --> click arrow next to line)

    CREATE A GITHUB ACCOUNT SO THAT I CAN ADD YOU TO BE A CONTRIBUTOR ON THE REPOSITORY
        - as contributor, you can edit the repo directly (rather than using pull requests which i wont have the time to always review and merge)

    DO -NOT- PUT STYLES INTO THE CSS FILE. USE SCSS FILE.
        - make sure to install extension (i use Live Sass Compiler in vscode) that allows you to automatically match sass/scss to css
        - also, NEVER EVER USE INLINE STYLES (styling in the html) <-- BAD PRACTICE
            - ex. style="margin-bottom: 30px;"

    WHEN CREATING A NEW PAGE, USE template.html
        - make sure to change:
            - page title (appears in browser tab); default = "NAME | Crafts for Charity"
            - header name
            - content class specific to that page
                - ex. class = "doncraf-content content"
            - remove "disclaimer" SECTION when all content is added
            - add to navbar
            - arrow links
                - redirect to adjacent pages in DROPDOWN (if last page, loop to first)
                - if not in dropdown, no arrow links
                - MAKE SURE TO CHANGE THE ARROWS OF THE ADJACENT PAGES TO INCLUDE THE NEW PAGE
            - height of mobile dropdown (if in dropdown)
                - found in: 
                    @media screen and (max-width: 1300px) {
                        ...
                        #aboutus-dropdown:checked ~ .dropdown-content {
                            height: 85px; //(# of items * 40) + 5
                        }
                        #classes-dropdown:checked ~ .dropdown-content {
                            height: 125px;
                        }
                        #donate-dropdown:checked ~ .dropdown-content {
                            height: 185px;
                        }
                        #volunteer-dropdown:checked ~ .dropdown-content {
                            height: 305px;
                        }
                        ...
                    }
            - if adding side hover box (ex. member positions side hover box):
                - use .side classes + create new .mobile-container
                        <ul class="dropdown-content">
                            <div class="side">
                                <li><a href="/FOLDER/OVERVIEW-FILE.html" class="sub nav-item">HEAD_NAME</a></li>
                                <ul class="side-content">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub nav-item" id="(id is not necessary)">FILE1_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub nav-item">FILE2_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub nav-item">FILE3_NAME</a></li>
                                </ul>
                                <div class="mobile-container">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub mobile nav-item">FILE1_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub mobile nav-item">FILE2_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub mobile nav-item">FILE3_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                </div>
                            </div>
                        </ul>
                - .side container will show up in desktop; .mobile-container will show up on mobile (when hamburger icon = visible)

    PUT IMAGES INTO FOLDER /CFC Banners/... 
        - DO NOT change the folder name to "images" since you will have to reroute every reference to the folder
        - put a starting / whenever creating a path to a file
            - ex. in header:
                - if linking to new pages --> /FOLDER/FILE.html
            - this starts the reference from the root folder, which is always constant
                - using ../ or ./ or no slash will NOT be constant

    IF YOU WANT/HAVE TIME, PUT ALL MEDIA QUERIES INTO NEW FILE media.scss (PUT INTO /STYLES/ FOLDER) + LINK TO ALL PAGES
        - all media queries found at bottom of this file (style.scss)
        - adds more organization
        - very tedious, only do if you want lol

    LABEL EACH GROUP OF STYLES
        - ex.   / --------------------------------------------------------------------- /
                / UNIVERSAL /

    .html FILES IN ROOT FOLDER ARE -INSERTABLES-
        - as of rn, includes header, footer, slideshow, contact-form (email form), privacy policy
        - to add a new insertable:
            1. create new html file with empty <head> in root folder
                - treat it as if you are inserting a single element rather than an entire html file
                - ex. check contact-form.html, header.html, footer.html
            2. go to <head> of all main pages:
                    $(function(){
                        $("#header").load("/header.html"); 
                        $("#footer").load("/footer.html"); 
                        $("#email-form").load("/contact-form.html"); 
                    });
                add:
                    $("#ID-NAME").load("/FILE-NAME.html"); 
                which enables you to insert the element wherever you write:
                    <div id="ID-NAME"></div>

    TRY TO STICK TO THE COLOR PALETTE FOUND IN THE VARIABLES
        - if necessary, you can use different shades of GREY ( winks )

    ALSO TRY TO MAKE -REUSABLE- STYLES
        - as in, don't make specific styles that only apply to one thing
            - ex. .title applies to all titles
            - ex (of BAD code). making each style page specific (call out to myself)
                - if you want/have time, refactor the code so that styles are REUSABLE + not specific to a page
        - makes the website look more consistent
        - DONT REPEAT STYLES
            - use the variables whenever you can (do not repeat hex codes)
            - you can create mixams for frequently used groups of styles + variables for frequently used values
            - get a good grasp of already existing design classes before creating a new one that is potentially repetitive

    FINALLY, ASK ME ANYTHING IF YOU NEED ANY HELP :) ig: @myco.le discord: kou#0726

*/


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');


// VARIABLES

$yellow : #ffd45a;
$dark-blue : #454f99;
$light-blue: #6fcafc;
$light-grey: #f1f1f1;
$dark-grey: #767676;


@mixin center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}



// DESIGNS (COLORS)

.drop::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f0d7"; //caret-down
}

.dashed-top {
    border-top: 0.25em dashed $yellow;
}
.dashed-bottom {
    border-bottom: 0.25em dashed $yellow;
}
.dashed {
    border-top: 0.25em dashed $yellow;
    border-bottom: 0.25em dashed $yellow;
}

.yellow {
    color: $yellow;
}

.light-blue {
    color: $light-blue;
}

.dark-blue {
    color: $dark-blue;
}

.grey {
    color: $light-grey;
}


// DESIGNS (FORMATS)

.title {
    color: $light-blue;
    font-size: 50px;
    letter-spacing: 7px;
    font-weight: 900;
    margin-bottom: 40px;
    border-bottom: 4px dashed $yellow;
}

.btn {
    border: none;
    outline: none;
    color: white;
    background-color: $light-blue;
    padding: 12px;
    margin: 30px auto 20px;
    border-radius: 10px;
    font-size: 1.1em;
    letter-spacing: 2px;
    transition: 0.3s;
    text-decoration: none;
    width: 180px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        color: black;
    }

    &.apply { //put onto "Apply Here!" buttons
        font-size: 1.5em;
        width: 250px;
        padding: 15px;
        margin-bottom: 50px;
    }
}

.arrow  {
    background-color: $light-grey;
    color: $dark-grey;
    width: max-content;
    padding-right: 25px;
    padding-left: 25px;
    text-transform: capitalize;
}

.application { //google form embed on volunteer-application.html
    width: 300px;
}

.question {
    margin-bottom: 30px;
    font-size: 1.1em;

    p, ul:not(.indented) {
        margin-bottom: 20px;
    }

    h3 {
        color: $dark-blue;
    }
}

.answer {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}





/* --------------------------------------------------------------------- */
/* UNIVERSAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    //font-family: 'Maven Pro', sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    color: $dark-grey;

    a {
        color: $dark-grey;
    }
}



// SCROLLBAR STYLES

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: $light-grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(165, 165, 165);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}




// HEADER STYLES

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    padding: 5px 100px;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: 0.8s;
    outline: none;

    &.sticky {
        padding: 5px 100px;
        background: rgba(255,255,255,1);

        .logo .logo-pic img {
            height: 70px;
        }
    }
}

.logo {
    display: flex;
    width: max-content;
    align-items: center;
    text-decoration: none;

    .logo-pic img {
        position: relative;
        height: 80px;
        padding-right: 15px;
        transition: 0.8s;
    }

    .logo-text {
        font-size: 1.4em;
        width: auto;
        color: $light-blue;
        transition: 0.8s;
        line-height: initial;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
            text-align: center;
            padding-left: 0;
        }

        .nav-item {
            text-decoration: none;
            position: relative;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: .95em;
            color: $dark-grey;
            white-space: nowrap;
            
            &:hover {
                color: black;
            }
        }

        .head {
            margin: 0 10px 0 60px;
            padding-bottom: 35px;
        }
    }
}

.home #home-nav, 
.about-us #about-us-nav, 
.classes #classes-nav, 
.donate #donate-nav, 
.volunteer #volunteer-nav, 
.contact-us #contact-us-nav, 
.faq #faq-nav {
    color: black;
}

.dropdown-content {
    position: absolute;
    display: none;
    z-index: 10000;
    background-color: white;
    width: 205px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
}

.side {
    display: flex;
}

.side-content {
    position: absolute;
    display: none;
    z-index: -1;
    background-color: white;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0;
    margin-left: 205px;
    border-radius: 5px;

    i {
        display: none;
    }
}

.dropdown-content .sub, .side-content .sub {
    margin: 10px 20px;
    padding: 5px 0;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
    text-transform: lowercase;
    white-space: initial;
}

.dropdown:hover .dropdown-content, .side:hover .side-content {
    display: block;
}

.mobile-container { //for indiv member positions when hamburger icon (mobile)
    display: none;
}






#member-overview {
    margin-bottom: 0;
}

#menu-icon, #menu-icon ~ label, input[type=checkbox] {
    display: none;
}

.content {
    margin-top: 80px;
    padding: 80px 0;
    justify-content: center;
    min-height: calc(100vh - 517px); //guess + check lol
}

section {
    /* max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px; */
    max-width: 100%;
    padding: 0 24%;
    width: 100%;

    &::before { //when clicking on in-page links (#), allows space for header
        display: block; 
        content: " "; 
        margin-top: -100px; 
        height: 100px; 
        visibility: hidden; 
        pointer-events: none;
    }
}

.disclaimer { //used for "page isnt done" disclaimer
    margin-bottom: 40px;
    color: black;
}

h2, h3 {
    line-height: 2em;
    letter-spacing: 1.75px;
}

h2 {
    text-transform: uppercase;
    font-size: 36px;
    color: $light-blue;
    text-align: center;
}

h3 {
    font-size: 1.2em;
}

p, ul li, a, nav .dropdown label {
    line-height: 1.6em;
    transition: 0.25s;
}

ul {
    list-style-position: outside;
    margin-left: 2em;

    li {
        line-height: 1.9em;
        padding-left: .4em;

        .indented {
            margin-left: 2em;
        }        
    }
}

a:active, a:hover {
    color: black;
}

button.collapsible h2 {
    transition: 0.3s;
    font-size: 30px;

    &:hover, .active {
        color: $dark-blue;
    }
}

.collapsible {
    background-color: $light-grey;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 60px;
    font-weight: bold;
    color: $light-blue;
    border-radius: 5px;
    position: relative;

    &:nth-child(odd) {
        border: none;
        outline: none;
    }
}

.coll-content {
    padding: 0px 18px 8px;
    margin: 8px 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    p, ul li {
        line-height: 1.8em;
        margin-left: 0.5rem;
    }
}

#email-form {
    padding: 17px 12.5%;
    
    input[type=text], textarea {
        background-color: $light-grey;
        
        &:hover {
            background-color: white;
        }
    }
}

input[type=text], textarea {
    background-color: white;
    width: 100%;
    outline: none;
    border: 1px solid $light-grey;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    transition: 0.2s;

    &:hover, &:focus {
        border: 1px solid #a0a0a0;
    }
}
input::placeholder, textarea::placeholder {
    font-size: 14px;
}
textarea {
    height: 115px;
}

button[type=submit] {
    background-color: $light-blue;
    color: white;
    border: 0;
    outline: 0;
    margin-top: 15px;
    padding: 7px;
    width: 100px;
    float: right;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        color: black;
    }
}

iframe {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        font-weight: bold;
    }

    tr, td {
        padding: 10px;
        border: 1px solid rgba($color: $dark-grey, $alpha: 0.75);
    }

    :not(thead) {
        tr {
            td:not(:nth-child(1)) {
                text-align: center;
            }
    
            &:nth-child(odd) {
                background-color: $light-grey;
            }
        }
    }
}

.arrows {
    margin-top: 50px;
}

footer {
    background-color: $light-grey;
    height: max-content;
    position: relative;
    padding: 3rem 3rem 2rem;

    .cols {
        display: flex;
        justify-content: space-around;
        text-align: left;
        align-items: start;
    }

    h3 {
        color: $dark-blue;
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
    }

    .navigate-col li:hover, .legal-col li:hover {
        transform: translateX(6px);
    }

    ul {
        list-style: none;
        margin-left: 0; //nullifies 2em

        li {
            padding: 2px;
            transition: 0.3s;
        }
    }

    .icons-col {
        width: 100%;
        font-size: 33px;
        text-align: center;
        color: $dark-grey;
        margin-top: 20px;

        i {
            margin: 10px;
        }
    }

    .credits {
        padding-top: 3rem;
        width: 100%;
        text-align: center;
    }
}




/* --------------------------------------------------------------------- */
/* PRIVACY POLICY POPUP */

/* The Modal (background) */
.modal {
    /* display: none;  Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 50px;
    width: 70%;
    border-radius: 5px;
    height: 80vh;
    overflow-y: scroll;
    position: relative;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    transition: 0.2s;
    float: right;
    /* position: fixed;
    right: 20%; */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/* --------------------------------------------------------------------- */
/* HOME */

/* .home-content section  {
    max-width: 100%;
    padding: 0 24%;
    width: 100%;
} */

.banner {
    max-height: 670px;

    #slideshow {
        padding-bottom: 15px;
        margin: 180px auto 0;

        img {
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    img {
        box-sizing: border-box;
        background-size: cover;
        padding: 0 17% 60px;
        overflow: hidden;
    }
}

.our-purpose {
    position: relative;
    background-color: $light-grey;
    padding: 60px;
    margin: 40px 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    .title {
        margin-bottom: 0;
        border: none;
    }

    article {
        margin: 0 15%;
        font-size: 1.4em;

        p, a {
            color: $dark-grey;
        }
    }
}

.home-content h3, .mempos-content h3 {
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 24px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    margin: 40px 0 0;
    padding: 30px 7% 40px;

    .actions-items {
        display: block;
        width: 480px;
        min-width: 380px;
        padding: 20px 40px;
        height: calc(max-content + 5px);
        margin: 10px 20px;
        z-index: 10;
        border-radius: 5px;
        text-align: center;
        position: relative;
        /* box-shadow: 0 0 1.5rem rgba(0,0,0,0.4); */

        img {
            width: 100%;
            height: 50%;
            object-fit: cover;
            margin: 20px 0;
            border: 5px solid white;
        }

        .btn {
            position: relative;
            bottom: 0;
        }
    }
}

.actions .actions-items h3, .member-cards .member-card h3 {
    margin-bottom: 5px;
}

.actions #learn {
    margin-top: 60px;
    background: $yellow;
    color: black;
    border-bottom: 10px solid $light-blue;
}
.actions #learn .btn, .mempos-content #log-card .btn {
    background-color: black;
    color: $yellow;
}
.actions #learn .btn:hover, .mempos-content #log-card .btn:hover {
    background-color: transparent;
    color: black;
}

.actions #create {
    margin-top: 60px;
    background: $light-blue;
    border-bottom: 10px solid $dark-blue;
    color: white;
}
.actions #create .btn, .mempos-content #outr-card .btn {
    background-color: white;
    color: $light-blue;
}
.actions #create .btn:hover, .mempos-content #outr-card .btn:hover {
    background-color: transparent;
    color: white;
}

.actions #donate {
    margin-top: 60px;
    background: $dark-blue;
    border-bottom: 10px solid $yellow;
    color: $light-blue;
}
.actions #donate .btn, .mempos-content #teach-card .btn {
    background-color: $light-blue;
    color: $dark-blue;
}
.actions #donate .btn:hover, .mempos-content #teach-card .btn:hover {
    background-color: transparent;
    color: $light-blue;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 7% 30px;

    .contacts-card {
        display: block;
        width: 60%;
        min-width: 380px;
        min-height: 570px;
        padding: 30px 40px 35px;
        margin: 0 20px 40px;
        background-color: $light-grey;
        text-align: center;
        border-radius: 5px;
    
        h3 {
            font-size: 2.5em;
        }
    
        .usernames {
            font-size: 1.3em;
        }
    }

    #email-form {
        input[type=text], textarea {
            background-color: white;
        }
    }
}

.contacts .contacts-card .icons {
    margin: 20px 0 30px;

    i {
        margin: 15px;
        font-size: 55px;
    }    
}

.icons {
    span {
        white-space: nowrap;
    }

    i {
        color: $dark-blue;
        transition: 0.3s;

        &:hover {
            color: black;
        }
    }
}


/* --------------------------------------------------------------------- */
/* ABOUT US */

.about-menu {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-menu .title, .materials-content .title {
    margin-bottom: 50px;
}

.about-menu .question, .materials-content .question {
    margin-bottom: 20px;

    .btn {
        width: 250px;
        margin-top: 15px;
    }
}



/* OUR TEAM */

.team-content {
    div {
        height: max-content;
        margin-bottom: 50px;

        img {
            @include center();
            margin-bottom: 30px;
            max-width: 100%;
            width: 300px;
            border-radius: 10px;
        }

        h2 {
            text-align: left;
        } 

        h3 {
            color: $dark-blue;
        }
    }

    p {
        font-size: 17.6px;
    }
}


/* --------------------------------------------------------------------- */
/* CLASSES */

.workshops-content section, .mempos-contents section, .donmat-content section {
    margin-bottom: 50px;
}

.workshops-content h2, .donate-where h2, .mempos-contents h2, .donmat-content h2, #team-why h2 {
    border-bottom: 4px dashed $yellow;
    margin-bottom: 20px;
}

.workshops-content h3 {
    color: $dark-blue;
    font-size: 1.25em;
}

.workshops-content .btn {
    margin-top: 20px;
}

#survey, #resources {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#virtual-classes .redirect {
    text-align: center;
}

#virtual-classes .btn {
    width: 300px;
    font-size: 1.3em;
}

#survey h3 {
    font-size: 22px;
}

#resources .btn {
    width: 250px;
}


/* --------------------------------------------------------------------- */
/* MATERIALS */

.materials-content {
    overflow: hidden;

    .title {
        margin-bottom: 40px;
    }

    p, a {
        margin-top: 15px;
    }

    .question {
        margin-bottom: 20px;

        h2 {
            border: none;
            margin: 0;
        }

        .coll-content {
            margin-top: 15px;
        }
    }

    ul {
        list-style-position: outside;
        margin-left: 2em;

        li .indented {
            font-weight: initial;
        }
    }

    img {
        float: right;
        position: relative;
        margin-left: 20px;
        object-fit: cover;
        width: 200px;

        &#img-yarn {
            margin-top: 10px;
        }
        &#img-knit-needle {
            margin-right: 20px;
        }
        &#img-yarn-needle {
            margin-top: 30px;
            height: 80px;
        }
    }
}





/* --------------------------------------------------------------------- */
/* WHO WE SUPPORT */

.donate-where {
    section {
        margin-bottom: 50px;
    }

    .title {
        margin-bottom: 40px;
    }

    img {
        max-width: 670px;
        width: 100%;
        margin: 15px auto;
        display: block;
    }    
}


/* --------------------------------------------------------------------- */
/* MEMBER POSITION OVERVIEW */

.mempos-content {
    .member-cards {
        display: flex;
        justify-content: space-between;
        margin: 50px 17%;

        .member-card {
            max-width: 30%;
            text-align: center;
            padding: 40px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            font-size: 1.1em;

            h3 {
                text-transform: uppercase;
                margin-bottom: 10px;
            }

            img {
                width: 100%;
                object-fit: cover;
                margin-bottom: 40px;
            }

            &#log-card {
                background: $yellow;
                color: black;
                border-bottom: 10px solid $light-blue;
            }
            &#outr-card {
                background: $light-blue;
                color: white;
                border-bottom: 10px solid $dark-blue;
            }
            &#teach-card {
                background: $dark-blue;
                color: $light-blue;
                border-bottom: 10px solid $yellow;
            }
        }
    }
}


/* --------------------------------------------------------------------- */
/* MEMBER POSITIONS (INDIV PAGES) */

.mempos-contents img {
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
}


/* --------------------------------------------------------------------- */
/* SERVICE HOURS */

.srvhrs-content img {
    max-width: 670px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------------------------------- */
/* CONTACT US */

.contact-page {
    .logo {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 130px;
    }

    .row {
        width: 100%;
    }

    .info, #email-form {
        display: inline-block;
        padding: 0; //nullifies default padding settings on #email-form
        height: 200px;
    }

    .info {
        width: 40%;

        .icons {
            margin-top: 25px;
            text-align: center;
            font-size: 2.5em;

            i {
                margin: 10px;
            }
        }
    }

    .lcol {
        height: 100%;
        width: 40%;
        float: left;
        display: flex;
        flex-direction: column;
    }

    #email-form {
        float: right;
        width: 55%;

        input[type=text] {
            width: 100%;
            margin-bottom: 10px;
        }
        textarea {
            width: 55%;
            float: right;
        }
        button[type=submit] {
            float: right;
        }
    }
}


/* --------------------------------------------------------------------- */
/* FAQ */

.faq-content {
    a {
        font-size: 17.6px;
        word-wrap: break-word;
        min-height: max-content;
    }

    .question {
        margin-bottom: 0;
    }

    .collapsible {
        height: max-content;
        padding: 30px 0 0;
        background-color: transparent;
        border-top: 1px solid $light-grey;

        h2 {
            text-transform: initial;
            font-size: 1.4em;
            margin-left: 25px;
            margin-right: 50px;
            text-align: left;

            &::before {
                content: '+';
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                padding-top: 30px;
                font-size: 1.2em;
            }

            &.active::before {
                content: '-';
                top: 50%;
                transform: translateY(-50%);
                padding-top: 30px;
            }
        }

        .coll-content {
            margin-bottom: 20px;
            margin-left: 5px;
        }

        &.first {
            border-top: none;
        }
    }

    .arrow {
        margin-top: 50px;
    }
} 