/* --------------------------------------------------------------------- */
/* NOTES (close when not in use --> click arrow next to line)

    CREATE A GITHUB ACCOUNT SO THAT I CAN ADD YOU TO BE A CONTRIBUTOR ON THE REPOSITORY
        - as contributor, you can edit the repo directly (rather than using pull requests which i wont have the time to always review and merge)

    DO -NOT- PUT STYLES INTO THE CSS FILE. USE SCSS FILE.
        - make sure to install extension (i use Live Sass Compiler in vscode) that allows you to automatically match sass/scss to css
        - also, NEVER EVER USE INLINE STYLES (styling in the html) <-- BAD PRACTICE
            - ex. style="margin-bottom: 30px;"

    WHEN CREATING A NEW PAGE, USE template.html
        - make sure to change:
            - page title (appears in browser tab); default = "NAME | Crafts for Charity"
            - header name
            - content class specific to that page
                - ex. class = "doncraf-content content"
            - remove "disclaimer" SECTION when all content is added
            - add to navbar
            - arrow links
                - redirect to adjacent pages in DROPDOWN (if last page, loop to first)
                - if not in dropdown, no arrow links
                - MAKE SURE TO CHANGE THE ARROWS OF THE ADJACENT PAGES TO INCLUDE THE NEW PAGE
            - height of mobile dropdown (if in dropdown)
                - found in: 
                    @media screen and (max-width: 1300px) {
                        ...
                        #aboutus-dropdown:checked ~ .dropdown-content {
                            height: 85px; //(# of items * 40) + 5
                        }
                        #classes-dropdown:checked ~ .dropdown-content {
                            height: 125px;
                        }
                        #donate-dropdown:checked ~ .dropdown-content {
                            height: 185px;
                        }
                        #volunteer-dropdown:checked ~ .dropdown-content {
                            height: 305px;
                        }
                        ...
                    }
            - if adding side hover box (ex. member positions side hover box):
                - use .side classes + create new .mobile-container
                        <ul class="dropdown-content">
                            <div class="side">
                                <li><a href="/FOLDER/OVERVIEW-FILE.html" class="sub nav-item">HEAD_NAME</a></li>
                                <ul class="side-content">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub nav-item" id="(id is not necessary)">FILE1_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub nav-item">FILE2_NAME</a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub nav-item">FILE3_NAME</a></li>
                                </ul>
                                <div class="mobile-container">
                                    <li><a href="/FOLDER/SUBFOLDER/FILE1.html" class="sub mobile nav-item">FILE1_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE2.html" class="sub mobile nav-item">FILE2_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/FOLDER/SUBFOLDER/FILE3.html" class="sub mobile nav-item">FILE3_NAME &nbsp;<i class="fas fa-chevron-right"></i></a></li>
                                </div>
                            </div>
                        </ul>
                - .side container will show up in desktop; .mobile-container will show up on mobile (when hamburger icon = visible)

    PUT IMAGES INTO FOLDER /CFC Banners/... 
        - DO NOT change the folder name to "images" since you will have to reroute every reference to the folder
        - put a starting / whenever creating a path to a file
            - ex. in header:
                - if linking to new pages --> /FOLDER/FILE.html
            - this starts the reference from the root folder, which is always constant
                - using ../ or ./ or no slash will NOT be constant

    IF YOU WANT/HAVE TIME, PUT ALL MEDIA QUERIES INTO NEW FILE media.scss (PUT INTO /STYLES/ FOLDER) + LINK TO ALL PAGES
        - all media queries found at bottom of this file (style.scss)
        - adds more organization
        - very tedious, only do if you want lol

    LABEL EACH GROUP OF STYLES
        - ex.   / --------------------------------------------------------------------- /
                / UNIVERSAL /

    .html FILES IN ROOT FOLDER ARE -INSERTABLES-
        - as of rn, includes header, footer, slideshow, contact-form (email form), privacy policy
        - to add a new insertable:
            1. create new html file with empty <head> in root folder
                - treat it as if you are inserting a single element rather than an entire html file
                - ex. check contact-form.html, header.html, footer.html
            2. go to <head> of all main pages:
                    $(function(){
                        $("#header").load("/header.html"); 
                        $("#footer").load("/footer.html"); 
                        $("#email-form").load("/contact-form.html"); 
                    });
                add:
                    $("#ID-NAME").load("/FILE-NAME.html"); 
                which enables you to insert the element wherever you write:
                    <div id="ID-NAME"></div>

    TRY TO STICK TO THE COLOR PALETTE FOUND IN THE VARIABLES
        - if necessary, you can use different shades of GREY ( winks )

    ALSO TRY TO MAKE -REUSABLE- STYLES
        - as in, don't make specific styles that only apply to one thing
            - ex. .title applies to all titles
            - ex (of BAD code). making each style page specific (call out to myself)
                - if you want/have time, refactor the code so that styles are REUSABLE + not specific to a page
        - makes the website look more consistent
        - DONT REPEAT STYLES
            - use the variables whenever you can (do not repeat hex codes)
            - you can create mixams for frequently used groups of styles + variables for frequently used values
            - get a good grasp of already existing design classes before creating a new one that is potentially repetitive

    FINALLY, ASK ME ANYTHING IF YOU NEED ANY HELP :) ig: @myco.le discord: kou#0726

*/
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
.drop::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f0d7";
}

.dashed-top {
  border-top: 4px dashed #ffd45a;
}

.dashed-bottom {
  border-bottom: 4px dashed #ffd45a;
}

.dashed {
  border-top: 0.25em dashed #ffd45a;
  border-bottom: 0.25em dashed #ffd45a;
}

.solid-top {
  border-top: 4px solid #ffd45a;
}

.solid-bottom {
  border-bottom: 4px solid #ffd45a;
}

.yellow {
  color: #ffd45a;
}

.light-blue {
  color: #6fcafc;
}

.dark-blue {
  color: #454f99;
}

.grey {
  color: #f1f1f1;
}

.white {
  color: white;
}

b {
  font-weight: bold;
  color: #454f99;
}

.title {
  color: #6fcafc;
  font-size: 50px;
  letter-spacing: 7px;
  font-weight: 900;
  margin-bottom: 40px;
  border-bottom: 4px dashed #ffd45a;
}

.btn {
  border: none;
  outline: none;
  color: white;
  background-color: #6fcafc;
  padding: 12px;
  margin: 30px auto 20px;
  border-radius: 10px;
  font-size: 1.1em;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  width: 180px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffd45a;
  color: black;
}

.btn.apply {
  font-size: 1.5em;
  width: 250px;
  padding: 15px;
  margin-bottom: 50px;
}

.yellow-btn {
  color: black;
  background-color: #ffd45a;
}

.yellow-btn:hover {
  background-color: transparent;
  color: #ffd45a;
}

.black-btn {
  color: #ffd45a;
  background-color: black;
}

.black-btn:hover {
  background-color: #ffd45a;
  color: black;
}

.white-btn {
  background-color: white;
  color: #6fcafc;
}

.white-btn:hover {
  background-color: transparent;
  color: white;
}

.lightblue-btn {
  background-color: #6fcafc;
  color: #454f99;
}

.lightblue-btn:hover {
  background-color: transparent;
  color: #6fcafc;
}

.darkblue-btn {
  background-color: #454f99;
  color: #6fcafc;
}

.darkblue-btn:hover {
  background-color: transparent;
  color: #454f99;
}

.arrow {
  background-color: #f1f1f1;
  color: #767676;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}

.soft-grey-length {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  position: relative;
  margin-bottom: 15px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.soft-grey-length:hover {
  color: #454f99;
}

.application {
  width: 300px;
}

.question {
  margin-bottom: 30px;
  font-size: 1.1em;
}

.question p, .question ul:not(.indented) {
  margin-bottom: 25px;
}

.question h3 {
  color: #454f99;
}

.answer {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-description-bigger {
  font-size: 18px;
}

/* --------------------------------------------------------------------- */
/* UNIVERSAL */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  color: #767676;
}

html a {
  color: #767676;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a5a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1000;
  padding: 5px 100px;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  outline: none;
}

header.sticky {
  padding: 5px 100px;
  background: white;
}

header.sticky .logo .logo-pic img {
  height: 70px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo .logo-pic img {
  position: relative;
  height: 80px;
  padding-right: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.logo .logo-text {
  font-size: 1.4em;
  width: auto;
  color: #6fcafc;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  line-height: initial;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

nav ul .nav-item {
  text-decoration: none;
  position: relative;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: .95em;
  color: #767676;
  white-space: nowrap;
}

nav ul .nav-item:hover {
  color: black;
}

nav ul .head {
  margin: 0 10px 0 60px;
  padding-bottom: 35px;
}

.home #home-nav,
.about-us #about-us-nav,
.classes #classes-nav,
.donate #donate-nav,
.volunteer #volunteer-nav,
.contact-us #contact-us-nav,
.faq #faq-nav {
  color: black;
}

.dropdown-content {
  position: absolute;
  display: none;
  z-index: 10000;
  background-color: white;
  width: 205px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 5px;
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-content {
  position: absolute;
  display: none;
  z-index: -1;
  background-color: white;
  width: 150px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 0;
  margin-left: 205px;
  border-radius: 5px;
}

.side-content i {
  display: none;
}

.dropdown-content .sub, .side-content .sub {
  margin: 10px 20px;
  padding: 5px 0;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
  text-transform: lowercase;
  white-space: initial;
}

.dropdown:hover .dropdown-content, .side:hover .side-content {
  display: block;
}

.mobile-container {
  display: none;
}

#member-overview {
  margin-bottom: 0;
}

#menu-icon, #menu-icon ~ label, input[type=checkbox] {
  display: none;
}

.content {
  margin-top: 80px;
  padding: 80px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 517px);
}

section {
  /* max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px; */
  max-width: 100%;
  padding: 0 24%;
  width: 100%;
}

section::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

.disclaimer {
  margin-bottom: 40px;
  color: black;
}

h2, h3 {
  line-height: 2em;
  letter-spacing: 1.75px;
}

h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #6fcafc;
  text-align: center;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 17px;
}

p, ul li, a, nav .dropdown label {
  line-height: 1.6em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

ul {
  list-style-position: outside;
  margin-left: 2em;
}

ul li {
  line-height: 1.9em;
  padding-left: .4em;
}

ul li .indented {
  margin-left: 2em;
}

a:active, a:hover {
  color: black;
}

button.collapsible h2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 30px;
}

button.collapsible h2:hover, button.collapsible h2 .active {
  color: #454f99;
}

.collapsible {
  background-color: #f1f1f1;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 60px;
  font-weight: bold;
  color: #6fcafc;
  border-radius: 5px;
  position: relative;
}

.collapsible:nth-child(odd) {
  border: none;
  outline: none;
}

.coll-content {
  padding: 0px 18px 8px;
  margin: 8px 0 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.coll-content p, .coll-content ul li {
  line-height: 1.8em;
  margin-left: 0.5rem;
}

#email-form {
  padding: 17px 12.5%;
}

#email-form input[type=text], #email-form textarea {
  background-color: #f1f1f1;
}

#email-form input[type=text]:hover, #email-form textarea:hover {
  background-color: white;
}

input[type=text], textarea {
  background-color: white;
  width: 100%;
  outline: none;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input[type=text]:hover, input[type=text]:focus, textarea:hover, textarea:focus {
  border: 1px solid #a0a0a0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 14px;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 14px;
}

input::placeholder, textarea::placeholder {
  font-size: 14px;
}

textarea {
  height: 115px;
}

button[type=submit] {
  background-color: #6fcafc;
  color: white;
  border: 0;
  outline: 0;
  margin-top: 15px;
  padding: 7px;
  width: 100px;
  float: right;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #ffd45a;
  color: black;
}

iframe {
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead {
  font-weight: bold;
}

table tr, table td {
  padding: 10px;
  border: 1px solid rgba(118, 118, 118, 0.75);
}

table :not(thead) tr td:not(:nth-child(1)) {
  text-align: center;
}

table :not(thead) tr:nth-child(odd) {
  background-color: #f1f1f1;
}

.arrows {
  margin-top: 50px;
}

footer {
  background-color: #f1f1f1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  padding: 3rem 3rem 2rem;
}

footer .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

footer h3 {
  color: #454f99;
  margin-bottom: 0.5rem;
}

footer a {
  text-decoration: none;
}

footer .navigate-col li:hover, footer .legal-col li:hover {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

footer ul {
  list-style: none;
  margin-left: 0;
}

footer ul li {
  padding: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .icons-col {
  width: 100%;
  font-size: 33px;
  text-align: center;
  color: #767676;
  margin-top: 20px;
}

footer .icons-col i {
  margin: 10px;
}

footer .credits {
  padding-top: 3rem;
  width: 100%;
  text-align: center;
}

/* --------------------------------------------------------------------- */
/* PRIVACY POLICY POPUP */
/* The Modal (background) */
.modal {
  /* display: none;  Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px 50px;
  width: 70%;
  border-radius: 5px;
  height: 80vh;
  overflow-y: scroll;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  float: right;
  /* position: fixed;
    right: 20%; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */
/* HOME */
/* .home-content section  {
    max-width: 100%;
    padding: 0 24%;
    width: 100%;
} */
.banner {
  max-height: 670px;
}

.banner #slideshow {
  padding-bottom: 15px;
  margin: 180px auto 0;
}

.banner #slideshow img {
  width: 100%;
  height: auto;
  margin: 0;
}

.banner img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  padding: 0 17% 60px;
  overflow: hidden;
}

.our-purpose {
  position: relative;
  background-color: #f1f1f1;
  padding: 60px;
  margin: 40px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-purpose .title {
  margin-bottom: 0;
  border: none;
}

.our-purpose article {
  margin: 0 15%;
  font-size: 1.4em;
}

.our-purpose article p {
  font-size: 20px;
}

.home-content h3, .mempos-content h3 {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 32px;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin: 40px 0 0;
  padding: 30px 7% 40px;
}

.actions .actions-items {
  display: block;
  width: 480px;
  min-width: 380px;
  padding: 20px 40px;
  height: calc(-webkit-max-content + 5px);
  height: calc(-moz-max-content + 5px);
  height: calc(max-content + 5px);
  margin: 10px 20px;
  z-index: 10;
  border-radius: 5px;
  text-align: center;
  position: relative;
  /* box-shadow: 0 0 1.5rem rgba(0,0,0,0.4); */
}

.actions .actions-items img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0;
  border: 5px solid white;
}

.actions .actions-items .btn {
  position: relative;
  bottom: 0;
}

.actions .actions-items h3, .member-cards .member-card h3 {
  margin-bottom: 5px;
}

.actions #learn {
  margin-top: 60px;
  background: #ffd45a;
  color: black;
  border-bottom: 10px solid #6fcafc;
}

.actions #create {
  margin-top: 60px;
  background: #6fcafc;
  border-bottom: 10px solid #454f99;
  color: white;
}

.actions #donate {
  margin-top: 60px;
  background: #454f99;
  border-bottom: 10px solid #ffd45a;
  color: #6fcafc;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 7% 30px;
}

.contacts .contacts-card {
  display: block;
  width: 60%;
  min-width: 380px;
  min-height: 570px;
  padding: 30px 40px 35px;
  margin: 0 20px 40px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 5px;
}

.contacts .contacts-card h3 {
  font-size: 2.5em;
}

.contacts .contacts-card .usernames {
  font-size: 1.3em;
}

.contacts #email-form input[type=text], .contacts #email-form textarea {
  background-color: white;
}

.contacts .contacts-card .icons {
  margin: 20px 0 30px;
}

.contacts .contacts-card .icons i {
  margin: 15px;
  font-size: 55px;
}

.icons span {
  white-space: nowrap;
}

.icons i {
  color: #454f99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icons i:hover {
  color: black;
}

/* --------------------------------------------------------------------- */
/* ABOUT US */
.about-menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about-menu .title, .materials-content .title {
  margin-bottom: 50px;
}

.about-menu .question, .materials-content .question {
  margin-bottom: 20px;
}

.about-menu .question .btn, .materials-content .question .btn {
  width: 250px;
  margin-top: 15px;
}

/* OUR TEAM */
.team-content div {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 50px;
}

.team-content div img {
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 100%;
  width: 300px;
  border-radius: 10px;
}

.team-content div h2 {
  text-align: left;
}

.team-content div h3 {
  color: #454f99;
}

/* --------------------------------------------------------------------- */
/* CLASSES */
.workshops-content section, .mempos-contents section, .donmat-content section {
  margin-bottom: 50px;
}

.about-menu h2, .workshops-content h2, .donate-where h2, .mempos-contents h2, .donmat-content h2, #team-why h2 {
  border-bottom: 4px dashed #ffd45a;
  margin-bottom: 20px;
}

.workshops-content h3 {
  color: #454f99;
  font-size: 1.25em;
}

.workshops-content .btn {
  margin-top: 20px;
}

#survey, #resources {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#virtual-classes .redirect {
  text-align: center;
}

#virtual-classes .btn {
  width: 300px;
  font-size: 1.3em;
}

#survey h3 {
  font-size: 22px;
}

#resources .btn {
  width: 250px;
}

/* --------------------------------------------------------------------- */
/* MATERIALS */
.materials-content {
  overflow: hidden;
}

.materials-content .title {
  margin-bottom: 40px;
}

.materials-content p, .materials-content a {
  margin-top: 15px;
}

.materials-content .question {
  margin-bottom: 20px;
}

.materials-content .question h2 {
  border: none;
  margin: 0;
}

.materials-content .question .coll-content {
  margin-top: 15px;
}

.materials-content ul {
  list-style-position: outside;
  margin-left: 2em;
}

.materials-content ul li .indented {
  font-weight: initial;
}

.materials-content img {
  float: right;
  position: relative;
  margin-left: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
}

.materials-content img#img-yarn {
  margin-top: 10px;
}

.materials-content img#img-knit-needle {
  margin-right: 20px;
}

.materials-content img#img-yarn-needle {
  margin-top: 30px;
  height: 80px;
}

/* --------------------------------------------------------------------- */
/* DROP-OFF BOX */
.btn {
  width: 230px;
}

/* --------------------------------------------------------------------- */
/* WHO WE SUPPORT */
.donate-where section {
  margin-bottom: 50px;
}

.donate-where .title {
  margin-bottom: 40px;
}

.donate-where img {
  max-width: 670px;
  width: 100%;
  margin: 15px auto;
  display: block;
}

/* --------------------------------------------------------------------- */
/* MEMBER POSITION OVERVIEW */
.mempos-content .member-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 17%;
}

.mempos-content .member-cards .member-card {
  max-width: 30%;
  text-align: center;
  padding: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.1em;
}

.mempos-content .member-cards .member-card h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mempos-content .member-cards .member-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 40px;
}

.mempos-content .member-cards .member-card#log-card {
  background: #ffd45a;
  color: black;
  border-bottom: 10px solid #6fcafc;
}

.mempos-content .member-cards .member-card#outr-card {
  background: #6fcafc;
  color: white;
  border-bottom: 10px solid #454f99;
}

.mempos-content .member-cards .member-card#teach-card {
  background: #454f99;
  color: #6fcafc;
  border-bottom: 10px solid #ffd45a;
}

/* --------------------------------------------------------------------- */
/* MEMBER POSITIONS (INDIV PAGES) */
.mempos-contents img {
  max-width: 450px;
  width: 100%;
  margin-top: 50px;
}

/* --------------------------------------------------------------------- */
/* SERVICE HOURS */
.srvhrs-content img {
  max-width: 670px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------------------------------- */
/* CONTACT US */
.contact-page .logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 130px;
}

.contact-page .row {
  width: 100%;
}

.contact-page .info, .contact-page #email-form {
  display: inline-block;
  padding: 0;
  height: 200px;
}

.contact-page .info {
  width: 40%;
}

.contact-page .info .icons {
  margin-top: 25px;
  text-align: center;
  font-size: 2.5em;
}

.contact-page .info .icons i {
  margin: 10px;
}

.contact-page .lcol {
  height: 100%;
  width: 40%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-page #email-form {
  float: right;
  width: 55%;
}

.contact-page #email-form input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}

.contact-page #email-form textarea {
  width: 55%;
  float: right;
}

.contact-page #email-form button[type=submit] {
  float: right;
}

/* --------------------------------------------------------------------- */
/* FAQ */
.faq-content a {
  word-wrap: break-word;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.faq-content .question {
  margin-bottom: 0;
}

.faq-content .collapsible {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0 0;
  background-color: transparent;
  border-top: 1px solid #f1f1f1;
}

.faq-content .collapsible h2 {
  text-transform: initial;
  font-size: 1.4em;
  margin-left: 25px;
  margin-right: 50px;
  text-align: left;
}

.faq-content .collapsible h2::before {
  content: '+';
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 30px;
  font-size: 1.2em;
}

.faq-content .collapsible h2.active::before {
  content: '-';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 30px;
}

.faq-content .collapsible .coll-content {
  margin-bottom: 20px;
  margin-left: 5px;
}

.faq-content .collapsible.first {
  border-top: none;
}

.faq-content .arrow {
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */